
<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar">

        <li class="navigation-header">
            <span>Main</span>
            <i class="zmdi zmdi-more"></i>
        </li>


        <li>
            <a href="/" >
                <div class="pull-left"><i class="fa fa-home mr-20"></i><span class="right-nav-text">الصفحة الرئيسية</span></div><div class="clearfix"></div></a>
        </li>


        <li>
            <a href="/item" {{#compare curPage '==' 'item'}}class="current"{{/compare}}>
                <div class="pull-left"><i class="fa fa-graduation-cap mr-20"></i><span class="right-nav-text">العناصر</span></div><div class="clearfix"></div></a>
        </li>



        <li>
            <a {{#compare curPage '==' 'purchase'}}class="current"{{/compare}} href="javascript:void(0);" data-toggle="collapse" data-target="#product_dr"  >
            <div class="pull-left"><i class="fa fa-cart-plus mr-20"></i><span class="right-nav-text">شراء</span></div><div class="pull-right">
            <i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="product_dr" class="collapse collapse-level-1">
                <li>
                    <a href="/purchase/add" > الجديد</a>
                </li>
                <li>
                    <a href="/purchase" >قائمة </a>
                </li>



            </ul>
        </li>


        <li>
            <a {{#compare curPage '==' 'issue'}}class="current"{{/compare}} href="javascript:void(0);"  data-toggle="collapse" data-target="#getting_dr" >
            <div class="pull-left"><i class="fa fa-gift mr-20"></i><span class="right-nav-text">القضية</span></div><div class="pull-right">
            <i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="getting_dr" class="collapse collapse-level-1">
                <li>
                    <a href="/issue/add" > الجديد</a>
                </li>
                <li>
                    <a href="/issue" >قائمة </a>
                </li>



            </ul>
        </li>


        <li>
            <a {{#compare curPage '==' 'return'}}class="current"{{/compare}} href="javascript:void(0);"  data-toggle="collapse" data-target="#return_dr" >
            <div class="pull-left"><i class="fa fa-retweet mr-20"></i><span class="right-nav-text">إرجاع</span></div><div class="pull-right">
            <i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="return_dr" class="collapse collapse-level-1">
                <li>
                    <a href="/return/add" > الجديد</a>
                </li>
                <li>
                    <a href="/return" >قائمة </a>
                </li>



            </ul>
        </li>





        <li><hr class="light-grey-hr mb-10"/></li>
        <li class="navigation-header">
            <span>C Panel</span>
            <i class="zmdi zmdi-more"></i>
        </li>

        <li>
            <a href="/category" {{#compare curPage '==' 'category'}}class="current"{{/compare}}>
                <div class="pull-left"><i class="fa fa-tasks mr-20"></i><span class="right-nav-text">الفئة</span></div><div class="clearfix"></div></a>
        </li>



        <li>
            <a href="/supplier"  {{#compare curPage '==' 'supplier'}}class="current"{{/compare}}>
            <div class="pull-left"><i class="fa fa-support mr-20"></i><span class="right-nav-text">المورد</span></div><div class="clearfix"></div></a>
        </li>

        <li>
            <a href="/department"  {{#compare curPage '==' 'department'}}class="current"{{/compare}}>
            <div class="pull-left"><i class="fa fa-tree mr-20"></i><span class="right-nav-text">القسم</span></div><div class="clearfix"></div></a>
        </li>

        <li>
            <a href="/staff" {{#compare curPage '==' 'staff'}}class="current"{{/compare}}>
                <div class="pull-left"><i class="fa fa-user mr-20"></i><span class="right-nav-text">العاملين</span></div><div class="clearfix"></div></a>
        </li>

        <li>
            <a href="/user" {{#compare curPage '==' 'user'}}class="current"{{/compare}}>
            <div class="pull-left"><i class="fa fa-user mr-20"></i><span class="right-nav-text">المستعمل</span></div><div class="clearfix"></div></a>
        </li>

        </li>

        <li>
            <a href="#" {{#compare curPage '==' 'backup'}}class="current"{{/compare}}>
                <div class="pull-left"><i class="fa fa-database mr-20"></i><span class="right-nav-text">دعم</span></div><div class="clearfix"></div></a>
        </li>

    </ul>
</div>



