rs<!-- Preloader -->
<div class="preloader-it">
    <div class="la-anim-1"></div>
</div>
<!-- /Preloader -->
<div class="wrapper theme-1-active pimary-color-pink">
    <!-- Top Menu Items -->
    {{>header}}
    <!-- /Top Menu Items -->

    <!-- Left Sidebar Menu -->
    {{>sidebar}}
    <!-- /Left Sidebar Menu -->





    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">

            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h5 class="txt-dark">سند ايراد</h5>
                </div>
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb" >
                        <li><a href="/"> الصفحة الرئيسية </a></li>
                        <li><a href="/purchase"><span> الشراء </span></a></li>
                        <li class="active"><span> {{#if editData}}تحديث{{else}}أضف{{/if}} الشراء </span></li>
                    </ol>
                </div>
                <!-- /Breadcrumb -->
            </div>
            <!-- /Title -->

            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">

                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="form-wrap">



                                    <form name="form one" method="post" action="/nonStock" id="PurchaseForm" enctype="multipart/form-data" >

                                        <div class="row">


                                            <div class="col-sm-3">


                                                <div class="form-group ">
                                                    <label class="control-label mb-10 text-left">رقم</label>
                                                    <input type="text" class="form-control" id="referenceNo" name="referenceNo" placeholder="رقم" required="required" readonly
                                                           value="{{#if data.referenceNo}}{{data.referenceNo}}{{/if}}">
                                                </div>


                                            </div>


                                            <div class="col-sm-3">



                                                <div class="form-group">
                                                    <label class="control-label mb-10 text-left">تم توريد وإضافة المواد الموضحة ادناه بتاريخ </label>
                                                    <input type="date" name="date" id="date" required="required"  class="form-control"
                                                           value="{{#if data.date}}{{dateToChrome data.date}}{{/if}}" >
                                                </div>

                                            </div>


                                            <div class="col-sm-3">

                                                <div class="form-group">
                                                    <label class="control-label mb-10">مستودع</label>
                                                    <select class="form-control select2" name="warehouseID" id="warehouseID" required="required" >

                                                        <option value="">اختار</option>
                                                        {{#each warehouses}}
                                                        <option value="{{this.warehouseID}}" {{#compare this.warehouseID '==' ../data.warehouseID}}selected{{/compare}}>{{this.name}}</option>
                                                        {{/each}}



                                                    </select>
                                                </div>


                                            </div>


                                            <div class="col-sm-3">


                                                <div class="form-group ">
                                                    <label class="control-label mb-10 text-left">بموحب الفاتورة رقم </label>
                                                    <input type="text" class="form-control" id="billNo" name="billNo" placeholder="بموحب الفاتورة رقم " required="required"
                                                           value="{{#if data.billNo}}{{data.billNo}}{{/if}}" onchange="checkBillNo()">
                                                </div>


                                            </div>







                                            <div class="col-sm-3">

                                                <div class="form-group">
                                                    <label class="control-label mb-10">من</label>
                                                    <label class="control-label mb-10  fa fa-plus-square " style="float: left;cursor: pointer" onclick="newSup();">الجديد</label>
                                                    <select class="form-control select2" name="supplierID" id="supplierID" required="required" onchange="checkBillNo()" >

                                                        <option value="">اختار</option>
                                                        {{#each suppliers}}
                                                        <option value="{{this.supplierID}}" {{#compare this.supplierID '==' ../data.supplierID}}selected{{/compare}}>{{this.name}}</option>
                                                        {{/each}}



                                                    </select>
                                                </div>


                                            </div>


                                            <div class="col-sm-3">



                                                <div class="form-group">
                                                    <label class="control-label mb-10 text-left">بتاريخ</label>
                                                    <input type="date" name="LPODate" id="LPODate" required="required"  class="form-control"
                                                           value="{{#if data.LPODate}}{{dateToChrome data.LPODate}}{{/if}}" >
                                                </div>

                                            </div>

                                            <div class="col-sm-3">


                                                <div class="form-group ">
                                                    <label class="control-label mb-10 text-left">طبقاً لطلب الشراء رقم</label>
                                                    <input type="text" class="form-control" id="LPONo" name="LPONo" placeholder="طبقاً لطلب الشراء رقم" required="required"
                                                           value="{{#if data.LPONo}}{{data.LPONo}}{{/if}}">
                                                </div>


                                            </div>


                                            <div class="col-sm-2">


                                                <div class="form-group ">
                                                    <label class="control-label mb-10 text-left">مرفقات</label>

                                                    <input type="file" class="form-control" id="attachment" name="attachment" >


                                                </div>


                                            </div>

                                            <div class="col-sm-1">


                                                <div class="form-group ">


                                                    {{#if editData}}
                                                    {{#if data.attachment}}<img src="/{{data.attachment}}"style="max-height: 100px;"> {{/if}}
                                                    {{/if}}
                                                </div>


                                            </div>









                                        </div>
                                        <br>



                                        <div class="row" id="AllItem">

                                            <div class="col-sm-12 ">
                                                <div class="panel ">

                                                    <div class="panel-wrapper collapse in">
                                                        <div class="panel-body">
                                                            <div class="table-wrap">
                                                                <div class="table-responsive">
                                                                    <table id="ProductTable" class="table table-hover display  pb-30" >
                                                                        <thead>
                                                                        <tr>
                                                                            <th width="5%"></th>
                                                                            <th width="10%">رقم المادة</th>
                                                                            <th width="50%"> اسم المادة</th>
                                                                            <th width="15%"> الوحدة</th>

                                                                            <th width="15%">كمية</th>

                                                                        </tr>
                                                                        </thead>
                                                                        <tbody >
                                                                        {{#if editData}}
                                                                            {{#each purchaseItems}}

                                                                                <tr id="MU{{this.itemSl}}">
                                                                                    <input type="hidden" name="itemSl"  value="{{this.itemSl}}"  >
                                                                                    <td style="width: 2%;"><a href="#" onclick="RemoveItem('{{this.itemSl}}');" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a> </td>
                                                                                    <td> <input style="text-align: right;"  type="text" name="barcode"  value="{{this.barcode}}" class="form-control"></td>
                                                                                    <td ><input style="text-align: right;" type="text" class="form-control" name="itemName" value="{{this.itemName}}"  required ></td>
                                                                                    <td>
                                                                                        <select class="selectpicker" data-style="btn-default btn-outline" name="unitID"  required>

                                                                                            {{#each ../units}}
                                                                                            <option {{#compare this.unitID '==' ../this.unitID}}selected{{/compare}} value="{{this.unitID}}" >{{this.name}}</option>
                                                                                            {{/each}}


                                                                                        </select>
                                                                                    </td>

                                                                                    <td style="width: 8%;"><input style="text-align: right;" type="text" class="form-control" name="quantity"
                                                                                                                  value="{{this.quantity}}" required="required" ></td>
                                                                                </tr>


                                                                            {{/each}}
                                                                        {{else}}

                                                                                <tr id="MU1">
                                                                                    <input type="hidden" name="itemSl"  value="1"  >
                                                                                    <td style="width: 2%;"><a href="#" onclick="RemoveItem(1);" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a> </td>
                                                                                    <td> <input style="text-align: right;"  type="text" name="barcode"  value="1" class="form-control"></td>
                                                                                    <td ><input style="text-align: right;" type="text" class="form-control" name="itemName"  required ></td>
                                                                                    <td>
                                                                                        <select class="selectpicker" data-style="btn-default btn-outline" name="unitID" required>

                                                                                            {{#each units}}
                                                                                            <option value="{{this.unitID}}" >{{this.name}}</option>
                                                                                            {{/each}}


                                                                                        </select>
                                                                                    </td>

                                                                                    <td style="width: 8%;"><input style="text-align: right;" type="text" class="form-control" name="quantity"
                                                                                                                  value="1" required="required" ></td>
                                                                                </tr>



                                                                        {{/if}}

                                                                        </tbody>

                                                                        <tfoot>
                                                                            <tr>
                                                                                <td colspan="2">

                                                                                    <button onclick="addNewField()" class="btn btn-default  btn-rounded btn-block btn-anim" type="button" ><i class="fa fa-check-square"></i><span class="btn-text">إضافة المزيد من البند</span></button>

                                                                                </td>

                                                                                <td colspan="3">

                                                                                </td>

                                                                            </tr>


                                                                        </tfoot>






                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>




                                        <div class="row">


                                            <div class="col-sm-2">
                                                <div class="input-group has-default">
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn btn-default" >إجمالي</button>
                                                    </div>
                                                    <input type="text" class="form-control" id="totalAmount" name="totalAmount"  style="font-size:15px; font-weight: bold;text-align:right;background-color: #fff;"
                                                           value="{{#if data.totalAmount}}{{currencyFormat data.totalAmount}}{{else}}0{{/if}}">
                                                </div>
                                            </div>




                                            <div class="col-sm-2 pull-right">
                                                <input type="hidden" name="itemNo" id="itemNo" value="{{#if data.itemNo}}{{data.itemNo}}{{else}}1{{/if}}">
                                                <input type="hidden" name="nonStockID" id="nonStockID" value="{{#if data.nonStockID}}{{data.nonStockID}}{{else}}{{/if}}">
                                                <input type="hidden" name="action" value="{{#if editData}}edit{{else}}add{{/if}}" >
                                                <button class="btn btn-primary  btn-rounded btn-block btn-anim" type="button" onclick="SubmitForm();"><i class="fa fa-check-square"></i><span class="btn-text">خضع</span></button>

                                            </div>


                                        </div>



                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- MOdal for Order View -->
                <div id="SearchModal" class="modal fade bs-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content " id="">

                            <div class="modal-header">

                                <h5 class="modal-title" >Serach product</h5>
                            </div>
                            <div class="modal-body" id="SearchModalContent">
                                <!--start -->


                            </div>

                            <div class="modal-footer">
                                <button onclick="CancelModal('SearchModal');" type="button" class="btn btn-danger text-left" >Cancel</button>

                            </div>

                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->


                <!-- Modal for add new sup -->
                <div id="SPModal" class="modal fade bs-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content " id="SPModalContent">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h5 class="modal-title" >أضف المورد</h5>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">

                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <div class="form-wrap">
                                                    <form name="form one" method="post"  >

                                                        <div class="form-group">
                                                            <label class="control-label mb-10 text-left">اسم </label>
                                                            <input type="text" name="Sname" id="Sname" required="required"
                                                                   placeholder="Enter name" class="form-control" >
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label mb-10 text-left">عنوان</label>
                                                            <input type="text" name="Saddress" id="Saddress" required="required"
                                                                   placeholder="Enter address" class="form-control" >
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--End -->
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-primary btn-outline btn-icon left-icon" onclick="InsertSup();">
                                    <i class="fa fa-plus"></i><span> خلق</span>
                                </button>

                            </div>

                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->


            </div>
            <!-- /Row -->






        </div>

        {{>footer}}

    </div>
    <!-- /Main Content -->

</div>
<!-- /#wrapper -->

<!-- JavaScript -->

<script type="text/javascript">

    /* Select2 Init*/
    $(".select2").select2();

    let IC 	=	parseInt($('#itemNo').val());


    //check the invoice already entered
    function checkBillNo(){
        let billNo = $('#billNo').val()
        let supplierID = $('#supplierID').val()
        let nonStockID = $('#nonStockID').val()

        if(billNo != '' && supplierID != ''){
            $.ajax({
                url: '/purchase/checkBillNoAjax',
                type: 'post',
                data: { billNo: billNo,supplierID: supplierID,nonStockID:nonStockID},
                success: function(obj) {
                    if(obj && obj.billNo == billNo)
                    {

                        $('#billNo').val(null);
                        $('#billNo').focus();
                        swal("فاتورة مكررة", "تم إدخال هذه الفاتورة من هذا المورد بالفعل", "error");

                    }

                },
                error: function(xhr, desc, err) {
                    console.log(xhr);
                    console.log("Details: " + desc + "\nError:" + err);
                }
            });
        }
    }

    //for form submit
    function SubmitForm()
    {
        checkBillNo()

        if($('#referenceNo').val() == '')
        {
            $('#referenceNo').focus();
            swal("Reference Number", "Please enter the reference number", "warning");

        }
        else if($('#warehouseID').val() == '')
        {
            $('#warehouseID').focus();
            swal("Warehouse", "Please chose a warehouse", "warning");

        }
        else if($('#billNo').val() == '')
        {
            $('#billNo').focus();
            swal("Bill Number", "Please enter Bill Number", "warning");

        }
        else if($('#supplierID').val() == '')
        {
            $('#supplierID').focus();
            swal("Supplier", "Please chose a supplier", "warning");

        }
        else if($('#LPONo').val() == '')
        {
            $('#LPONo').focus();
            swal("LPO Number", "Please enter LPO Number", "warning");

        }

        else
        {
            let count = 0;
            let itemCount = 0;
            $('input[name^="itemName"]').each(function() {
                itemCount++;
                if($(this).val() == ''){
                    $(this).focus();
                    swal("Item Name", "Item name cannot be null", "warning");
                    count++;
                    return(false);
                }
            });
            if(itemCount == 0){
                swal("No items", "Please add items", "warning");
                return(false);
            }
            if(count == 0){
                $("#PurchaseForm").submit();
            }


        }

    }

    function newSup(){
        $('#Sname').val('');
        $('#Saddress').val('');
        $('#SPModal').modal('toggle');
    }

    function InsertSup() {
        let name = $('#Sname').val();
        let address = $('#Saddress').val();

        if(name == '')
        {
            $('#Sname').focus();
            swal("Supplier name", "Please enter the name", "warning");

        }
        else if(address == '')
        {
            $('#Saddress').focus();
            swal("Address", "Please enter the address", "warning");

        }
        else{
            $('#SPModal').modal('toggle');

            $.ajax({
                url: '/supplier/ajax',
                type: 'post',
                data: { name: name,address: address},
                success: function(obj) {
                    if(obj)
                    {

                        let data = {
                            id:obj.supplierID,
                            text: name
                        };
                        let newOption = new Option(data.text, data.id, true, true);
                        // Append it to the select
                        $('#supplierID').append(newOption).trigger('change');
                        swal("new Customer", "new customer created successfully ", "success");

                    }

                },
                error: function(xhr, desc, err) {
                    console.log(xhr);
                    console.log("Details: " + desc + "\nError:" + err);
                }
            });


        }




    }

    function addNewField(){
        IC++;
        $('#itemNo').val(IC);

        $('#ProductTable tbody').append('<tr id="MU'+IC+'">'+
            '<input type="hidden" name="itemSl"  value="'+IC+'"  >'+
            '<td><a href="#" onclick="RemoveItem('+IC+');" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a> </td>'+
            '<td> <input style="text-align: right;"  type="text" name="barcode"  value="'+IC+'" class="form-control"> </td>'+
            '<td> <input style="text-align: right;" type="text" class="form-control" name="itemName"  required ></td>'+
            '<td> <select class="selectpicker" data-style="btn-default btn-outline" name="unitID" required>'+
            '{{#each units}}'+
            '<option value="{{this.unitID}}" >{{this.name}}</option>'+
            '{{/each}} </select></td>'+
            '<td ><input style="text-align: right;" type="text" class="form-control"  name="quantity" value="1" required="required" ></td>'+
            '</tr>');

        $('.selectpicker').selectpicker('refresh');


    }







    function RemoveItem(id)
    {

        swal({
            title: "تحذير",
            text: "هل تريد حذف هذا البند ؟",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#f8b32d",
            confirmButtonText: "نعم",
            cancelButtonText: "لا",
            closeOnConfirm: true,
            closeOnCancel: true
        }, function(isConfirm){
            if (isConfirm) {

                var Price 		=	$('#price'+id).val();
                $('#MU'+id).hide('slow', function(){ $('#MU'+id).remove(); });
                swal("Deleted!", "Your file has been deleted.", "success");

            }
        });



    }



</script>

<!-- jQuery -->