<!-- Preloader -->
<div class="preloader-it">
    <div class="la-anim-1"></div>
</div>
<!-- /Preloader -->
<div class="wrapper theme-1-active pimary-color-pink">
    <!-- Top Menu Items -->
    {{>header}}
    <!-- /Top Menu Items -->

    <!-- Left Sidebar Menu -->
    {{>sidebar}}
    <!-- /Left Sidebar Menu -->





    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">

            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h5 class="txt-dark">الشراء</h5>
                </div>
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">


                        <li><a href="/"> الصفحة الرئيسية </a></li>

                        <li class="active"><span> الشراء </span></li>

                    </ol>
                </div>
                <!-- /Breadcrumb -->
            </div>
            <!-- /Title -->

            <!-- Row -->
            <div class="row">

                <!-- Basic Table -->
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">قائمة الصنف</h6>
                            </div>


                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">

                                <div class="table-wrap mt-0">
                                    <div class="table-responsive">
                                        <table class="table mb-0" id="TableData">
                                            <thead>
                                            <tr>

                                                <th>رقم</th>
                                                <th>تاريخ</th>
                                                <th>بموحب الفاتورة رقم</th>

                                                <th>من</th>
                                                <th>تمويل المستخدم</th>




                                                <th class="text-nowrap" width="6%">الحالة</th>
                                                <th class="text-nowrap" width="6%">عمل</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {{#each purchases }}

                                            <tr id="{{this.purchaseID}}">

                                                <td style="cursor: pointer" onclick="show({{this.nonStockID}});">{{this.referenceNo}}</td>
                                                <td style="cursor: pointer" onclick="show({{this.nonStockID}});">{{dateToStringDate this.date}}</td>
                                                <td style="cursor: pointer" onclick="show({{this.nonStockID}});">{{this.billNo}}</td>
                                                <td style="cursor: pointer" onclick="show({{this.nonStockID}});">{{this.supplier.name}}</td>
                                                <td style="cursor: pointer" onclick="show({{this.nonStockID}});">{{this.user.fullName}}</td>



                                                <td class="text-nowrap">

                                                    {{#if this.financeSign}}

                                                        <span class="label label-success">منجز</span>

                                                    {{else}}

                                                        <span class="label label-warning">علامة المالية</span>

                                                    {{/if}}



                                                </td>

                                                <td class="text-nowrap">

                                                    <a href="/nonStock/view/{{this.nonStockID}}" target="_blank" class="mr-25" data-toggle="tooltip" data-original-title="Edit">
                                                        <i class="fa fa-print text-inverse m-r-10"></i> </a>

                                                    {{#compare this.attachment '!=' NULL}}

                                                    <a href="/{{this.attachment}}" target="_blank" class="mr-25" data-toggle="tooltip" data-original-title="Attachments">
                                                        <i class="fa fa-file text-inverse m-r-10"></i> </a>

                                                    {{else}}

                                                    <a href="#"  class="mr-25" data-toggle="tooltip" data-original-title="Null">
                                                        <i class="fa fa-stop text-inverse m-r-10"></i> </a>

                                                    {{/compare}}

                                                </td>

                                            </tr>

                                            {{else}}

                                            <tr id="0">
                                                <td colspan="5" align="center">No data found</td>
                                            </tr>

                                            {{/each}}




                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Basic Table -->

            </div>
            <!-- /Row -->



        </div>

        {{>footer}}

    </div>
    <!-- /Main Content -->

    <!-- Modal for add new sup -->
    <div id="SPModal" class="modal fade bs-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content " id="SPModalContent" >

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>
<!-- /#wrapper -->

<!-- JavaScript -->

<!-- jQuery -->

<script type="text/javascript">


    //for data table
    "use strict";
    $(document).ready(function() {
        "use strict";
        $('#TableData').DataTable({"aaSorting": []});
        //$('#TableData').DataTable({ "lengthChange": false});
    } );

    function show(id){

        $.ajax({
            url: '/nonStock/view_pop/'+id,
            type: 'get',
            success: function(data) {
                $('#SPModalContent').html(data);
                $('#SPModal').modal('toggle');
            },
            error: function(xhr, desc, err) {
                console.log(xhr);
                console.log("Details: " + desc + "\nError:" + err);
            }
        }); // end ajax call
    }



</script>