<!-- Preloader -->
<div class="preloader-it">
    <div class="la-anim-1"></div>
</div>
<!-- /Preloader -->
<div class="wrapper theme-1-active pimary-color-pink">
    <!-- Top Menu Items -->
    {{>header}}
    <!-- /Top Menu Items -->

    <!-- Left Sidebar Menu -->
    {{>sidebar}}
    <!-- /Left Sidebar Menu -->





    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">

            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h5 class="txt-dark">{{#if editData}}Edit{{else}}Add{{/if}} User</h5>
                </div>
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">


                        <li><a href="/">Dashboard</a></li>
                        <li><a href="/user"><span>user</span></a></li>
                        <li class="active"><span>{{#if editData}}Edit{{else}}Add{{/if}} User</span></li>
                    </ol>
                </div>
                <!-- /Breadcrumb -->
            </div>
            <!-- /Title -->

            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">

                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="form-wrap">
                                    <form name="form one" method="post"  action="/user">

                                        <div class="row">
                                            <div class="col-sm-6">



                                             <div class="form-group" >
                                                <label class="control-label mb-10">المستعمل</label>
                                                <select class="form-control select2" name="userName" id="userName" required="required" onchange="nameChose()" >

                                                    <option value="">اختار</option>
                                                    {{#each users}}
                                                    <option  {{#compare this.sAMAccountName '==' ../data.userName}}selected{{/compare}}
                                                            value="{{this.sAMAccountName}}">{{this.sAMAccountName}} - {{this.displayName}} - {{this.description}}</option>
                                                    {{/each}}


                                                </select>
                                            </div>

                                                <div class="form-group" >
                                                    <label class="control-label mb-10">نوع</label>
                                                    <select class="form-control select2" name="userRole" id="userRole" required="required">

                                                        <option {{#compare 'ADMIN' '==' ./data.userRole }}selected{{/compare}} value="ADMIN" >admin</option>
                                                        <option {{#compare 'AllStore' '==' ./data.userRole }}selected{{/compare}} value="AllStore" >All Store User</option>
                                                        <option {{#compare 'StoreUser' '==' ./data.userRole }}selected{{/compare}} value="StoreUser" >Store User</option>
                                                        <option {{#compare 'Finance' '==' ./data.userRole }}selected{{/compare}} value="Finance" >Finance User</option>


                                                    </select>
                                                </div>


                                                <br>

                                                <div class="col-sm-4 col-xs-12 mt-15">
                                                    <input type="hidden" name="userID" value="{{#if data.userID}}{{data.userID}}{{/if}}" >
                                                    <input type="hidden" name="action" value="{{#if editData}}edit{{else}}add{{/if}}" >
                                                    <button class="btn btn-primary  btn-rounded btn-block btn-anim"><i class="fa fa-check-square"></i>
                                                        <span class="btn-text">{{#if editData}}Update{{else}}Add {{/if}}</span></button>
                                                </div>



                                                <div class="col-sm-4 col-xs-12 mt-15">
                                                    <a class="btn btn-danger  btn-rounded btn-block btn-anim" href="/user"><i class="fa fa-minus-circle"></i><span class="btn-text">Cancel</span></a>
                                                </div>



                                            </div>


                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Row -->



        </div>

        {{>footer}}

    </div>
    <!-- /Main Content -->

</div>
<!-- /#wrapper -->

<!-- JavaScript -->


<script type="text/javascript">


    /* Select2 Init*/
    $(".select2").select2();

    function nameChose(){
        $('#name').val($('#userName').val());
    }

    </script>



<!-- jQuery -->