<!-- Preloader -->
<div class="preloader-it">
    <div class="la-anim-1"></div>
</div>
<!-- /Preloader -->
<div class="wrapper theme-1-active pimary-color-pink">
    <!-- Top Menu Items -->
    {{>header}}
    <!-- /Top Menu Items -->

    <!-- Left Sidebar Menu -->
    {{>sidebar}}
    <!-- /Left Sidebar Menu -->





    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">

            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h5 class="txt-dark">{{#if editData}}تحديث{{else}}أضف{{/if}} الشراء</h5>
                </div>
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb" >
                        <li><a href="/"> الصفحة الرئيسية </a></li>
                        <li><a href="/issue"><span> القضية </span></a></li>
                        <li class="active"><span> {{#if editData}}تحديث{{else}}أضف{{/if}} القضية </span></li>
                    </ol>
                </div>
                <!-- /Breadcrumb -->
            </div>
            <!-- /Title -->

            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">

                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="form-wrap">



                                    <form name="form one" method="post" action="/issue" id="PurchaseForm" >

                                        <div class="row">


                                            <div class="col-sm-3">


                                                <div class="form-group">
                                                    <label class="control-label mb-10">نوع القضية</label>
                                                    <select class="form-control select2" name="type" id="type" required="required" onchange="typeSelect();">


                                                        <option value="staff" {{#compare data.type '==' 'staff'}}selected{{/compare}}>العاملين</option>
                                                        <option value="department" {{#compare data.type '==' 'department'}}selected{{/compare}}>قسم</option>

                                                    </select>
                                                </div>


                                            </div>


                                            <div class="col-sm-3">

                                                <div class="form-group" id="staffData" {{#compare data.type '==' 'department'}}style="display: none"{{/compare}}>
                                                <label class="control-label mb-10">العاملين</label>
                                                <select class="form-control select2" name="militaryNo" id="militaryNo" required="required" >

                                                    <option value="">اختار</option>
                                                    {{#each staffs}}
                                                    <option value="{{this.militaryNo}}" {{#compare this.militaryNo '==' ../data.militaryNo}}selected{{/compare}}> {{this.militaryNo}} : {{this.name}} </option>
                                                    {{/each}}


                                                </select>
                                            </div>

                                                <div class="form-group" id="depData" {{#compare data.type '!=' 'department'}}style="display: none"{{/compare}}>
                                                    <label class="control-label mb-10">القسم</label>
                                                    <select class="form-control select2" name="departmentID" id="departmentID" required="required" >

                                                        <option value="">اختار</option>
                                                        {{#each departments}}
                                                        <option value="{{this.departmentID}}" {{#compare this.departmentID '==' ../data.departmentID}}selected{{/compare}}>{{this.name}}</option>
                                                        {{/each}}


                                                    </select>
                                                </div>





                                            </div>



                                            <div class="col-sm-3">



                                                <div class="form-group">
                                                    <label class="control-label mb-10 text-left">تاريخ</label>
                                                    <input type="date" name="date" id="date" required="required"  class="form-control"
                                                           value="{{#if data.date}}{{dateToChrome data.date}}{{/if}}" >
                                                </div>

                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group" >
                                                <label class="control-label mb-10">إلى</label>
                                                <select class="form-control select2" name="idaraID" id="idaraID" required="required" >

                                                    <option value="">اختار</option>
                                                    {{#each idara}}
                                                    <option value="{{this.idaraID}}" {{#compare this.idaraID '==' ../data.idaraID}}selected{{/compare}}>{{this.name}}</option>
                                                    {{/each}}


                                                </select>
                                            </div>

                                            </div>

                                <div class="col-sm-3">



                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">بموجب طلب صرف مواد / كتاب رقم </label>
                                        <input type="text" name="traslNO" id="traslNO" required="required"  class="form-control"
                                               value="{{#if data.traslNO}}{{ data.traslNO}}{{/if}}" >
                                    </div>

                                </div>


                                <div class="col-sm-3">

                                    <div class="form-group" i>
                                    <label class="control-label mb-10">المستودع</label>
                                    <select class="form-control select2" name="warehouseID" id="warehouseID" required="required" >

                                        <option value="">اختار</option>
                                        {{#each warehouse}}
                                        <option value="{{this.militaryNo}}" {{#compare this.warehouseID '==' ../data.warehouseID}}selected{{/compare}}> {{this.warehouseID}} : {{this.name}} </option>
                                        {{/each}}


                                    </select>
                                </div>





                                        </div>

                                        <div class="row mb-10" >


                                            <div class="col-sm-12">


                                                <div class="form-group" style="margin-bottom:0;">
                                                    <div class="input-group wide-tip">
                                                        <div class="input-group-addon" style="padding-left: 10px; padding-right: 10px;">
                                                            <i class="fa fa-2x fa-barcode addIcon"></i>
                                                        </div>
                                                        <input type="text" onchange="SelectProduct();" name="ItemSearch" class="form-control input-lg ui-autocomplete-input" id="ItemSearch" placeholder="عناصر البحث" autocomplete="off">
                                                        <div class="input-group-addon" style="padding-left: 10px; padding-right: 10px;">
                                                            <a href="#" id="addManually1" tabindex="-1"><i class="fa fa-2x fa-plus-circle addIcon" id="addIcon"></i></a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <br>


                                        </div>

                                        <div class="row" id="AllItem">

                                            <div class="col-sm-12 ">
                                                <div class="panel ">

                                                    <div class="panel-wrapper collapse in">
                                                        <div class="panel-body">
                                                            <div class="table-wrap">
                                                                <div class="table-responsive">
                                                                    <table id="ProductTable" class="table table-hover display  pb-30" >
                                                                        <thead>
                                                                        <tr>
                                                                            <th></th>
                                                                            <th>الباركود</th>
                                                                            <th>اسم الصنف</th>

                                                                            <th>كمية</th>

                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>

                                                                        {{#each issueItems}}

                                                                            <tr id="MU{{this.itemSl}}">
                                                                                <input type="hidden" name="itemID[{{this.itemSl}}]" id="itemID{{this.itemSl}}" value="{{this.itemID}}" >
                                                                                <input type="hidden" name="itemSl[{{this.itemSl}}]" id="itemSl{{this.itemsSl}}" value="{{this.itemSl}}"  >
                                                                                <td style="width: 2%;"><a href="#" onclick="RemoveItem('{{this.itemSl}}');" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a> </td>
                                                                                <td> {{this.item.barcode}} </td>
                                                                                <td> {{this.item.name}} </td>
                                                                                <td style="width: 8%;"><input style="text-align: right;" type="text" class="form-control" id="quantity{{this.itemSl}}" name="quantity[{{this.itemSl}}]"
                                                                                                              value="{{this.quantity}}" required="required" ></td>

                                                                            </tr>
                                                                        {{/each}}



                                                                        </tbody>

                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>




                                        <div class="row">




                                            <div class="col-sm-6 ">

                                                <div class="form-group">

                                                    <textarea name="description" placeholder="ملاحظات" class="form-control">{{#if data.description}}{{ data.description}}{{/if}}</textarea>
                                                </div>


                                            </div>


                                            <div class="col-sm-2 pull-right">
                                                <input type="hidden" name="itemNo" id="itemNo" value="{{#if data.itemNo}}{{data.itemNo}}{{else}}1{{/if}}">
                                                <input type="hidden" name="issueID" id="issueID" value="{{#if data.issueID}}{{data.issueID}}{{else}}{{/if}}">
                                                <input type="hidden" name="action" value="{{#if editData}}edit{{else}}add{{/if}}" >
                                                <button class="btn btn-primary  btn-rounded btn-block btn-anim" type="button" onclick="SubmitForm();"><i class="fa fa-check-square"></i><span class="btn-text">خضع</span></button>

                                            </div>


                                        </div>



                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- MOdal for Order View -->
                <div id="SearchModal" class="modal fade bs-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content " id="">

                            <div class="modal-header">

                                <h5 class="modal-title" >Serach product</h5>
                            </div>
                            <div class="modal-body" id="SearchModalContent">
                                <!--start -->


                            </div>

                            <div class="modal-footer">
                                <button onclick="CancelModal('SearchModal');" type="button" class="btn btn-danger text-left" >Cancel</button>

                            </div>

                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->


            </div>
            <!-- /Row -->






        </div>

        {{>footer}}

    </div>
    <!-- /Main Content -->

</div>
<!-- /#wrapper -->

<!-- JavaScript -->

<script type="text/javascript">



    /* Select2 Init*/
    $(".select2").select2();


    //for chose the issue type

    function typeSelect(){
        let type = $('#type').val();
        if(type == 'staff'){
            $('#staffData').show('slow');
            $('#depData').hide();
        }
        else{
            $('#depData').show('slow');
            $('#staffData').hide();
        }
    }


    let IC 	=	parseInt($('#itemNo').val());


    //for form submit
    function SubmitForm()
    {
         if($('#departmentID').val() == '' && $('#militaryNo').val() == '')
        {
            $('#type').focus();
            swal("Type", "Please chose a staff or department", "warning");

        }
        else if($('#date').val() == '')
        {
            $('#date').focus();
            swal("Date", "Please enter a date", "warning");

        }

        else if($('#itemNo').val() <= 1)
        {
            swal("No Items", "Please add items", "warning");
        }
        else
        {
            $("#PurchaseForm").submit();
        }

    }
    function SelectProduct()
    {
        let ItemSearch 	=	$('#ItemSearch').val();

        $.ajax({
            url: '/purchase/search_item/'+ItemSearch,
            type: 'get',
            success: function(obj) {

                if(obj != '')
                {
                        IC++;
                        $('#itemNo').val(IC);

                        $('#ProductTable tr:last').after('<tr id="MU'+IC+'">'+
                            '<input type="hidden" name="itemID['+IC+']" id="itemID'+IC+'" value="'+obj.itemID+'" >'+
                            '<input type="hidden" name="itemSl['+IC+']" id="itemSl'+IC+'" value="'+IC+'"  >'+
                            '<td style="width: 2%;"><a href="#" onclick="RemoveItem('+IC+');" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a> </td>'+
                            '<td> '+obj.barcode+' </td>'+
                            '<td> '+obj.name+' </td>'+
                            '<td style="width: 8%;"><input style="text-align: right;" type="text" class="form-control" id="quantity'+IC+'" name="quantity['+IC+']" value="1" required="required" onkeyup="PriceChange('+IC+');"></td>'+
                            '</tr>');
                        $('#ItemSearch').val('');
                        $( "#ItemSearch" ).focus();

                }
                else
                {

                    $.ajax({
                        url: '/purchase/search_item_det/'+ItemSearch,
                        type: 'get',
                        success: function(res) {
                            if(res != '')
                            {
                                let SelectTable	='<table class="table table-hover display  pb-30" > ';
                                for(let i=0; i< res.length; i++)
                                {
                                    let brc = "'"+res[i].barcode+"'";
                                    SelectTable	+='<tr onclick="InsertSearch('+brc+');"><td >'+res[i].barcode+'</td>'+
                                        '<td>'+res[i].name+'</td> ';
                                }
                                SelectTable	+=	'<tbody> </table>';
                                $('#SearchModalContent').html(SelectTable);
                                $('#SearchModal').modal('toggle');

                            }
                            else
                            {
                                $('#ItemSearch').val('');
                                $( "#ItemSearch" ).focus();
                                swal("Not Found!", "not found any maching products", "error");
                            }

                        },
                        error: function(xhr, desc, err) {
                            console.log(xhr);
                            console.log("Details: " + desc + "\nError:" + err);
                        }
                    });

                }
            },
            error: function(xhr, desc, err) {
                console.log(xhr);
                console.log("Details: " + desc + "\nError:" + err);
            }
        });


    }

    function InsertSearch(barcode)
    {
        $.ajax({
            url: '/purchase/search_item/'+barcode,
            type: 'get',
            success: function(obj)
            {
                if(obj != '')
                {
                    IC++;
                    $('#itemNo').val(IC);
                    let price 	=	parseInt(obj.amount);
                    price 		=	price.toFixed(2);
                    $('#ProductTable tr:last').after('<tr id="MU'+IC+'">'+
                        '<input type="hidden" name="itemID['+IC+']" id="itemID'+IC+'" value="'+obj.itemID+'" >'+
                        '<input type="hidden" name="itemSl['+IC+']" id="itemSl'+IC+'" value="'+IC+'"  >'+
                        '<td style="width: 2%;"><a href="#" onclick="RemoveItem('+IC+');" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a> </td>'+
                        '<td> '+obj.barcode+' </td>'+
                        '<td> '+obj.name+' </td>'+
                        '<td style="width: 8%;"><input style="text-align: right;" type="text" class="form-control" id="quantity'+IC+'" name="quantity['+IC+']" value="1" required="required" onkeyup="PriceChange('+IC+');"></td>'+
                        '</tr>');
                    $('#SearchModal').modal('hide');
                    $('#ItemSearch').val('');
                    $( "#ItemSearch" ).focus();
                }


            },
            error: function(xhr, desc, err) {
                console.log(xhr);
                console.log("Details: " + desc + "\nError:" + err);
            }
        });
    }


    function CancelModal(modal)
    {
        $('#'+modal).modal('hide');
        $('#ItemSearch').val('');
        $( "#ItemSearch" ).focus();
    }




    function RemoveItem(id)
    {

        swal({
            title: "تحذير",
            text: "هل تريد حذف هذا البند ؟",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#f8b32d",
            confirmButtonText: "نعم",
            cancelButtonText: "لا",
            closeOnConfirm: true,
            closeOnCancel: true
        }, function(isConfirm){
            if (isConfirm) {
                $('#MU'+id).hide('slow', function(){ $('#MU'+id).remove(); });
                swal("Deleted!", "Your file has been deleted.", "success");

            }
        });



    }



</script>

<!-- jQuery -->